<!-- Products Section -->
<div class="container my-5">
  <h3 class="mb-4">Top Deals</h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100 text-center">
        <img
          src="images/hrushi-chavhan-7mHqWiFJSe4-unsplash.jpg"
          class="card-img-top p-3"
          alt="Product 1"
        />
        <div class="card-body">
          <h5 class="card-title">Smartphone X</h5>
          <p class="card-text text-success fw-bold">$599</p>
        </div>
        <div class="card-footer bg-white">
          <a href="#" class="btn btn-primary w-100">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <img
          src="images/howard-bouchevereau-S2r2Ex8jv2o-unsplash.jpg"
          class="card-img-top p-3"
          alt="Product 2"
        />
        <div class="card-body">
          <h5 class="card-title">Laptop Pro</h5>
          <p class="card-text text-success fw-bold">$999</p>
        </div>
        <div class="card-footer bg-white">
          <a href="#" class="btn btn-primary w-100">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center">
        <img
          src="images/kiran-ck-UkO7K1CPFS8-unsplash.jpg"
          class="card-img-top p-3"
          alt="Product 3"
        />
        <div class="card-body">
          <h5 class="card-title">Smart Watch</h5>
          <p class="card-text text-success fw-bold">$269</p>
        </div>
        <div class="card-footer bg-white">
          <a href="#" class="btn btn-primary w-100">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 text-center">
        <img
          src="images/robert-torres-A45ar2jOnKs-unsplash.jpg"
          class="card-img-top p-3"
          alt="Product 4"
        />
        <div class="card-body">
          <h5 class="card-title">Wireless Headphones</h5>
          <p class="card-text text-success fw-bold">₹$899</p>
        </div>
        <div class="card-footer bg-white">
          <a href="#" class="btn btn-primary w-100">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
